extends ../base

block variables
  -var title = __('Check your income information for the 2018 tax year')
  -var incomeSources = hasData(data, 'financial.incomeSources') ? data.financial.incomeSources : {}
  -var taxes = hasData(data, 'financial.taxes') ? data.financial.taxes : {}
  -var totalIncome = hasData(data, 'financial.incomes.totalIncome') ? data.financial.incomes.totalIncome : 0
  -var totalTax = hasData(data, 'financial.totalTax') ? data.financial.totalTax : 0
  -var year = new Date().getFullYear()-1
  -var confirmedIncome = hasData(data, 'financial.incomeConfirmed') ? data.financial.incomeConfirmed : ''

block content

  h1 #{title}

  div
    p #{__(`Please check that CRA has your correct amounts for ${year}. You may add credits and deductions later, but you won't be able to change the amounts for your income and taxes paid.`)}

  if incomeSources
    .breakdown-table
      h2.breakdown-table__heading
        span #{__(`Total income earned in ${year}`)}
        span $#{currencyFilter(totalIncome.amount, 2)}

      p.breakdown-table__subheading #{__(`Detailed breakdown of income earned in ${year}`)}

      dl.breakdown-table-data
        each income in incomeSources
          .breakdown-table__row
            dt.breakdown-table__row-key #{income.name} #{__('Total Income')}
            dd.breakdown-table__row-value $#{currencyFilter(income.total)}

        .breakdown-table__row.breakdown-table__row--summary
          dt.breakdown-table__row-key #{__(`Total Income for ${year}`)}
          dd.breakdown-table__row-value $#{currencyFilter(totalIncome.amount)}

  .breakdown-table
      h2.breakdown-table__heading
        span #{__(`Total tax paid in ${year}`)}
        span.breakdown-table__heading $#{currencyFilter(totalTax, 2)}

      p.breakdown-table__subheading #{__(`Detailed breakdown of taxes paid in ${year}`)}

      dl.breakdown-table-data
        each tax in taxes
          .breakdown-table__row
            dt.breakdown-table__row-key #{__(`${tax.name.replace('Net ', '').replace(/^\w/, c => c.toUpperCase())} deduction`)}
            dd.breakdown-table__row-value $#{currencyFilter(tax.amount)}

        .breakdown-table__row.breakdown-table__row--summary
          dt.breakdown-table__row-key #{__(`Total tax paid for ${year}`)}
          dd.breakdown-table__row-value $#{currencyFilter(totalTax)}

  form.cra-form(method='post')
    +radiosYesNo('confirmIncome', 'Is all of this information correct?', confirmedIncome)

    input#redirect(name='redirect', type='hidden', value='/personal/maritalStatus')

    +formButtons()