extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = 'Confirm your income information'
  -var income = hasData(data, 'financial.income') ? data.financial.income : {}
  -var taxes = hasData(data, 'financial.taxes') ? data.financial.taxes : {}
  -var totalIncome = hasData(data, 'financial.totalIncome') ? data.financial.totalIncome : 0
  -var totalTax = hasData(data, 'financial.totalTax') ? data.financial.totalTax : 0
  - var count = 1;

block content

  h1 #{title}

  div
    p Here's what CRA knows about your income for the current tax year (filing for 2018). Additional claims and deductions can be made afterwards.

  if income
    div
      table.breakdown-table
        thead
          tr
            th.breakdown-table__heading Total income earned in 2018:
            th.breakdown-table__heading $#{currencyFilter(totalIncome, 0)}
        tbody
          tr
            th(colspan="2").breakdown-table__subheading Detailed breakdown of income earned in 2018:
          each employer in income
            tr
              td Employer #{count} Total Income:
              td $#{currencyFilter(employer.total)}

            - count++

          tr.breakdown-table__summary-row
            td Total Income for 2018: 
            td $#{currencyFilter(totalIncome)}

  div
    table.breakdown-table
      thead
        tr
          th.breakdown-table__heading Total tax:
          th.breakdown-table__heading $#{currencyFilter(totalTax, 0)}
      tbody
        tr
          th(colspan="2").breakdown-table__subheading Detailed breakdown of taxes paid in 2018:

        each tax in taxes
          tr
            td #{tax.name} deduction: 
            td $#{currencyFilter(tax.amount)}
            
        tr.breakdown-table__summary-row
          td Total tax paid for 2018:
          td $#{currencyFilter(totalTax)}

  //- TODO: yes no with deets
  +yesNoRadios('confirmIncome', null, 'Is this information correct?', errors)
    .no-info
      .no-info__wrapper
        p If this information doesn’t match your records, you can’t change it here.
        p You should not use this service to file income information you believe to be incorrect.

  .buttons-row
    a.button-link(href='/deductions/rrsp') Confirm
    a.button-link.transparent(href='/clear') Cancel