extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Confirm your income information')
  -var incomeSources = hasData(data, 'financial.incomeSources') ? data.financial.incomeSources : {}
  -var taxes = hasData(data, 'financial.taxes') ? data.financial.taxes : {}
  -var totalIncome = hasData(data, 'financial.incomes.totalIncome') ? data.financial.incomes.totalIncome : 0
  -var totalTax = hasData(data, 'financial.totalTax') ? data.financial.totalTax : 0
  -var year = new Date().getFullYear()-1

block content

  h1 #{title}

  div
    p #{__(`Here’s what CRA knows about your income for the current tax year (filing for ${year}). Additional claims and deductions can be made afterwards.`)}

  if incomeSources
    .breakdown-table
      h2.breakdown-table__heading
        span #{__(`Total income earned in ${year}`)} 
        span $#{currencyFilter(totalIncome.amount, 0)}
  
      p.breakdown-table__subheading #{__(`Detailed breakdown of income earned in ${year}`)}

      dl.breakdown-table-data
        each income in incomeSources
          .breakdown-table__row
            dt.breakdown-table__row-key #{income.name} #{__('Total Income')}
            dd.breakdown-table__row-value $#{currencyFilter(income.total)}

        .breakdown-table__row.breakdown-table__row--summary
          dt.breakdown-table__row-key #{__(`Total Income for ${year}`)}
          dd.breakdown-table__row-value $#{currencyFilter(totalIncome.amount)}

  .breakdown-table
      h2.breakdown-table__heading 
        span #{__('Total tax')}
        span.breakdown-table__heading $#{currencyFilter(totalTax, 0)}

      p.breakdown-table__subheading #{__(`Detailed breakdown of taxes paid in ${year}`)}

      dl.breakdown-table-data
        each tax in taxes
          .breakdown-table__row
            dt.breakdown-table__row-key #{__(`${tax.name.replace('Net ', '')} deduction`)}
            dd.breakdown-table__row-value $#{currencyFilter(tax.amount)}

        .breakdown-table__row.breakdown-table__row--summary
          dt.breakdown-table__row-key #{__(`Total tax paid for ${year}`)}
          dd.breakdown-table__row-value $#{currencyFilter(totalTax)}

  form.cra-form(method='post')
    +yesNoRadios('confirmIncome', null, 'Is this information correct?', errors)
      .no-info
        .no-info__wrapper
          p #{__('If this information doesn’t match your records, you can’t change it here.')}
          p #{__('You should not use this service to file income information you believe to be incorrect.')}

    input#redirect(name='redirect', type='hidden', value='/deductions/rrsp')

    +formButtons()