extends ../base

block variables
  -var title = 'Change your mailing address'
  -var aptNumber = hasData(body, 'aptNumber') ? body.aptNumber : hasData(data, 'personal.address.aptNumber') ? data.personal.address.aptNumber : ''
  -var streetNumber = hasData(body, 'streetNumber') ? body.streetNumber : hasData(data, 'personal.address.streetNumber') ? data.personal.address.streetNumber : ''
  -var streetName = hasData(body, 'streetName') ? body.streetName : hasData(data, 'personal.address.streetName') ? data.personal.address.streetName : ''
  -var city = hasData(body, 'city') ? body.city : hasData(data, 'personal.address.city') ? data.personal.address.city : ''
  -var postalCode = hasData(body, 'postalCode') ? body.postalCode : hasData(data, 'personal.address.postalCode') ? data.personal.address.postalCode : ''
  -var province = hasData(body, 'province') ? body.province : hasData(data, 'personal.address.province') ? data.personal.address.province : ''

block content

  h1 #{__(title)}

  div
    p #{__('Please enter the correct mailing address information below. If a letter is sent to this address, you must be able to receive it.')}

  div
    form.cra-form.cra-form--lg(method='post')
      h2 #{__('Your mailing address')}

      div
        +textInput('Street number', ['w-1-4','d--ib'])(class='w-3-4', value=streetNumber, name='streetNumber')

        +textInput('Street name', ['w-3-4','d--ib'])(class='w-3-4', value=streetName, name='streetName')

      +textInput('Apartment number', 'w-1-2', 'Optional')(class='w-3-4', value=aptNumber name='aptNumber')

      +textInput('City', 'w-1-2')(class='w-3-4', value=city name='city')

      +textInput('Postal Code', ['w-1-2'], 'For Example: R2H 0J9')(class='w-3-4' name='postalCode' value=postalCode)

      .w-1-2(class={['has-error']: errors && errors.province})
        label(for='province') #{__('Province')}
        if errors && errors.province
          +validationMessage(errors.province.msg, 'province')
        select.w-3-4#province(name='province' aria-describedby=(errors && errors.province ? 'province-error' : false))
          if !province
            option(disabled='', selected='selected', value='')  -- select a province --
          option(value='Alberta' selected=province == 'Alberta') Alberta
          option(value='British Columbia' selected=province == 'British Columbia') British Columbia
          option(value='Manitoba' selected=province == 'Manitoba') Manitoba
          option(value='New Brunswick' selected=province == 'New Brunswick') New Brunswick
          option(value='Newfoundland And Labrador' selected=province =='Newfoundland And Labrador') Newfoundland and Labrador
          option(value='Northwest Territories' selected=province =='Northwest Territories') Northwest Territories
          option(value='Nova Scotia' selected=province =='Nova Scotia') Nova Scotia
          option(value='Nunavut' selected=province =='Nunavut') Nunavut
          option(value='Ontario' selected=province == 'Ontario') Ontario
          option(value='Prince Edward Island' selected=province =='Prince Edward Island') Prince Edward Island
          option(value='Quebec'  selected=province =='Quebec') Quebec
          option(value='Saskatchewan' selected=province =='Saskatchewan') Saskatchewan
          option(value='Yukon' selected=province =='Yukon') Yukon

      input#redirect(name='redirect', type='hidden', value='/personal/address')

      +formButtons('Change mailing address', '/personal/address')
