extends ../base

block variables
  -var title = __('Check your mailing address')
  -var confirmedAddress = hasData(data, 'personal.confirmedAddress') ? data.personal.confirmedAddress : ''

block content

  h1 #{title}

  div
    table.pure-table
      thead
        tr
          th #{__('Mailing address')}
      tbody
        tr
          td
            .address
              if hasData(data, 'personal.address.line2')
                div #{data.personal.address.line2}-#{data.personal.address.line1}
              else
                div #{data.personal.address.line1}
              div #{data.personal.address.city}, #{data.personal.address.province}
              div #{data.personal.address.postalCode}

  form.cra-form(method='post')
    +radiosYesNo('confirmAddress', 'Is this your correct address?', confirmedAddress)

    input#redirect(name='redirect', type='hidden', value='/financial/income')

    +formButtons()

