extends ../base

block variables
  -var title = __('Confirm your mailing address')

block content

  h1 #{title}

  div
    p #{__('Please review the address details closely to make sure they’re correct. You can change your address to update our records—this is important for making sure you receive your benefits and tax refund (if applicable).')}

  div
    table.pure-table
      thead
        tr
          th #{__('Mailing address')}
      tbody
        tr
          td
            .address
              if hasData(data, 'personal.address.line2')
                div #{data.personal.address.line2}-#{data.personal.address.line1}
              else
                div #{data.personal.address.line1} 
              div #{data.personal.address.city}, #{data.personal.address.province}
              div #{data.personal.address.postalCode}

  +linkButtons('/financial/income')
    a.button-link(href='/personal/address/edit') #{__('Change your mailing address')}

