extends ../base

block variables
  -var title = __('Change your mailing address')
  -var aptNumber = hasData(body, 'line2') ? body.line2 : hasData(data, 'personal.address.line2') ? data.personal.address.line2 : ''
  -var streetAddress = hasData(body, 'line1') ? body.line1 : hasData(data, 'personal.address.line1') ? data.personal.address.line1 : ''
  -var city = hasData(body, 'city') ? body.city : hasData(data, 'personal.address.city') ? data.personal.address.city : ''
  -var postalCode = hasData(body, 'postalCode') ? body.postalCode : hasData(data, 'personal.address.postalCode') ? data.personal.address.postalCode : ''
  -var province = hasData(body, 'province') ? body.province : hasData(data, 'personal.address.province') ? data.personal.address.province : ''


block content

  h1 #{title}

  div
    p #{__('Please enter the correct mailing address information below. If a letter is sent to this address, you must be able to receive it.')}

  div
    form.cra-form.cra-form--lg(method='post')
      h2 #{__('Your mailing address')}

      +textInput('Street address', ['w-3-4','d--ib'])(class='w-3-4', value=streetAddress, name='line1' autofocus=(!errors || errors && firstError.param === 'line1' ? true : false))

      +textInput('Apartment number', 'w-1-2', 'Optional')(class='w-3-4', value=aptNumber name='line2')

      +textInput('City', 'w-1-2')(class='w-3-4', value=city name='city')

      +textInput('Postal Code', ['w-1-2'], 'For Example: K2R 3Z9')(class='w-3-4' name='postalCode' value=postalCode)

      .w-1-2(class={['has-error']: errors && errors.province})
        label(for='province') #{__('Province')}
        if errors && errors.province
          +validationMessage(errors.province.msg, 'province')
        select.w-3-4#province(name='province' aria-describedby=(errors && errors.province ? 'province-error' : false) autofocus=(errors && errors[Object.keys(errors)[0]].param === 'province'? true : false))
          if !province
            option(disabled='', selected='selected', value='')  -- select a province --
          option(value='Alberta' selected=province == 'Alberta') #{__('Alberta')}
          option(value='British Columbia' selected=province == 'British Columbia') #{__('British Columbia')}
          option(value='Manitoba' selected=province == 'Manitoba') #{__('Manitoba')}
          option(value='New Brunswick' selected=province == 'New Brunswick') #{__('New Brunswick')}
          option(value='Newfoundland And Labrador' selected=province =='Newfoundland And Labrador') #{__('Newfoundland and Labrador')}
          option(value='Northwest Territories' selected=province =='Northwest Territories') #{__('Northwest Territories')}
          option(value='Nova Scotia' selected=province =='Nova Scotia') #{__('Nova Scotia')}
          option(value='Nunavut' selected=province =='Nunavut') #{__('Nunavut')}
          option(value='Ontario' selected=province == 'Ontario') #{__('Ontario')}
          option(value='Prince Edward Island' selected=province =='Prince Edward Island') #{__('Prince Edward Island')}
          option(value='Quebec'  selected=province =='Quebec') #{__('Quebec')}
          option(value='Saskatchewan' selected=province =='Saskatchewan') #{__('Saskatchewan')}
          option(value='Yukon' selected=province =='Yukon') #{__('Yukon')}

      input#redirect(name='redirect', type='hidden', value='/personal/address')

      +formButtons('Change mailing address', '/personal/address')
