extends ../base

block variables
  -var title = 'Change your mailing address'
  -var aptNumber = data && data.address && data.address.aptNumber ? data.address.aptNumber : ''
  -var streetNumber = data && data.address && data.address.streetNumber ? data.address.streetNumber : ''
  -var streetName = data && data.address && data.address.streetName ? data.address.streetName : ''
  -var city = data && data.address && data.address.city ? data.address.city : ''
  -var postalCode = data && data.address && data.address.postalCode ? data.address.postalCode : ''
  -var province = data && data.address && data.address.province ? data.address.province : ''

block content

  h1 #{title}

  div
    p Please enter the correct mailing address information below. If a letter is sent to this address, you must be able to receive it.

  div
    form.cra-form.cra-form--lg(method='post')
      h2 Your mailing address

      div
        .w-1-4.d--ib
          label(for='streetNumber') Street number
          input.w-3-4#streetNumber(name='streetNumber', type='text', value=streetNumber, autocomplete='off')

        .w-3-4.d--ib(class={['has-error']: errors && errors.streetName})
          label(for='streetName') Street name
          if errors && errors.streetName
            +validationMessage(errors.streetName.msg, 'streetName')
          input.w-3-4#streetName(name='streetName', type='text', value=streetName, autocomplete='off' aria-describedby=(errors && errors.streetName ? 'streetName-error' : false))

      .w-1-2
        label(for='aptNumber') Apartment number
        span.cra-form-message Optional
        input.w-1-4#aptNumber(name='aptNumber', type='text', value=aptNumber, autocomplete='off')

      .w-1-2(class={['has-error']: errors && errors.city})
        label(for='city') City
        if errors && errors.city
          +validationMessage(errors.city.msg, 'city')
        input.w-3-4#city(name='city', type='text', value=city autocomplete='off' aria-describedby=(errors && errors.city ? 'city-error' : false))

      .w-1-2(class={['has-error']: errors && errors.postalCode})
        label(for='postalCode') Postal Code
        span.cra-form-message For example: R2H 0J9
        if errors && errors.postalCode
          +validationMessage(errors.postalCode.msg, 'postalCode')
        input.w-3-4#postalCode( name='postalCode', type='text', value=postalCode, autocomplete='off' aria-describedby=(errors && errors.postalCode ? 'postalCode-error' : false))

      .w-1-2(class={['has-error']: errors && errors.province})
        label(for='province') Province
        if errors && errors.province
          +validationMessage(errors.province.msg, 'province')
        select.w-3-4#province(name='province' aria-describedby=(errors && errors.province ? 'province-error' : false))
          if !province
            option(disabled='', selected='selected', value='')  -- select a province --
          option(value='Alberta' selected=province == 'Alberta') Alberta
          option(value='BritishColumbia' selected=province == 'BritishColumbia') British Columbia
          option(value='Manitoba' selected=province == 'Manitoba') Manitoba
          option(value='NewBrunswick' selected=province == 'NewBrunswick') New Brunswick
          option(value='NewfoundlandAndLabrador' selected=province =='NewfoundlandAndLabrador') Newfoundland and Labrador
          option(value='NorthwestTerritories' selected=province =='NorthwestTerritories') Northwest Territories
          option(value='NovaScotia' selected=province =='NovaScotia') Nova Scotia
          option(value='Nunavut' selected=province =='Nunavut') Nunavut
          option(value='Ontario' selected=province == 'Ontario') Ontario
          option(value='PrinceEdwardIsland' selected=province =='PrinceEdwardIsland') Prince Edward Island
          option(value='Quebec'  selected=province =='Quebec') Quebec
          option(value='Saskatchewan' selected=province =='Saskatchewan') Saskatchewan
          option(value='Yukon' selected=province =='Yukon') Yukon

      div
        details.
          <summary><span>Help with mailing address</span></summary>
          <p>It doesn’t matter if you lived here last year.</p>

      input#redirect(name='redirect', type='hidden', value='/personal/address')

      .buttons
        .buttons--left
          button(type='submit') Change mailing address
        .buttons--right
          a.button-link.transparent.full-width(href='/clear') Cancel
