extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Check your mailing address')

block content

  h1 #{title}

  div
    table.pure-table
      thead
        tr
          th #{__('Mailing address')}
      tbody
        tr
          td
            .address
              if hasData(data, 'personal.address.line2')
                div #{data.personal.address.line2}-#{data.personal.address.line1}
              else
                div #{data.personal.address.line1}
              div #{data.personal.address.city}, #{data.personal.address.province}
              div #{data.personal.address.postalCode}
  
  form.cra-form(method='post')
    +yesNoRadios('confirmAddress', null, 'Is this your correct address?', errors)

    input#redirect(name='redirect', type='hidden', value='/financial/income')

    +formButtons()

