extends ../base

block variables
  -var title = 'Change your mailing address'

block content

  h1 #{title}

  div
    p Please enter the correct mailing address information below. If a letter is sent to this address, you must be able to receive it.

  div
    form.cra-form.cra-form--lg(method='post')
      h2 Your mailing address

      div
        .w-1-4.d--ib
          label(for='streetNumber') Street number
          input.w-3-4#streetNumber(name='streetNumber', type='text', value="", autocomplete='off')

        .w-3-4.d--ib
          label(for='streetName') Street name
          if errors && errors.streetName
            span.validation-message #{__(errors.streetName.msg)}
          input.w-3-4#streetName(class={['has-error']: errors && errors.streetName} name='streetName', type='text', value="", autocomplete='off' aria-describedby=(errors && errors.streetName ? 'streetName_error' : false))

      .w-1-2
        label(for='aptNumber') Apartment number
        span.cra-form-message Optional
        input.w-1-4#aptNumber(name='aptNumber', type='text', value="", autocomplete='off')

      .w-1-2
        label(for='city') City
        if errors && errors.city
          span.validation-message #{__(errors.city.msg)}
        input.w-3-4#city(class={['has-error']: errors && errors.city} name='city', type='text', value="", autocomplete='off' aria-describedby=(errors && errors.city ? 'city_error' : false))

      .w-1-2
        label(for='postalCode') Postal Code
        span.cra-form-message For example: R2H 0J9
        if errors && errors.postalCode
          span.validation-message #{__(errors.postalCode.msg)}
        input.w-3-4#postalCode(class={['has-error']: errors && errors.postalCode} name='postalCode', type='text', value="", autocomplete='off' aria-describedby=(errors && errors.postalCode ? 'postalCode_error' : false))

      .w-1-2
        label(for='province') Province
        if errors && errors.province
          span.validation-message #{__(errors.province.msg)}
        select.w-3-4#province(name='province' aria-describedby=(errors && errors.postalCode ? 'postalCode_error' : false))
          option(disabled='', selected='', value='')  -- select a province --
          option(value='Alberta') Alberta
          option(value='BritishColumbia') British Columbia
          option(value='Manitoba') Manitoba
          option(value='NewBrunswick') New Brunswick
          option(value='NewfoundlandAndLabrador') Newfoundland and Labrador
          option(value='NorthwestTerritories') Northwest Territories
          option(value='NovaScotia') Nova Scotia
          option(value='Nunavut') Nunavut
          option(value='Ontario') Ontario
          option(value='PrinceEdwardIsland') Prince Edward Island
          option(value='Quebec') Quebec
          option(value='Saskatchewan') Saskatchewan
          option(value='Yukon') Yukon

      div
        details.
          <summary><span>Help with mailing address</span></summary>
          <p>It doesn’t matter if you lived here last year.</p>

      input#redirect(name='redirect', type='hidden', value='/personal/address')

      .buttons
        .buttons--left
          button(type='submit') Change mailing address
        .buttons--right
          a.button-link.transparent.full-width(href='/clear') Cancel
