extends ../base

block variables
  -var title = __('Confirm your marital status')

block content

  h1 #{title}

  div
    p #{__('You can find the marital status we have on file below. Click confirm if this is correct or change it. Having your accurate marital status on file is important for you to properly file your taxes and get your benefits.')}

  div
    table.pure-table
      thead
        tr
          th #{__('Marital Status')}
      tbody
        tr
          td
            div #{__(data.personal.maritalStatus)}

  +linkButtons('/deductions/medical')
    a.button-link(href='/personal/maritalStatus/edit') #{__('Change your marital status')}

