extends ../base

block variables
  -var title = __('Change your marital status')
  -var maritalStatus = data.personal.maritalStatus

block content

  h1 #{title}

  div
    p #{__('Please choose the correct status from the options listed below.')}

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.maritalStatus})
        fieldset.fieldset
            legend.fieldset__legend #{__('Marital Status')}
            .multiple-choice.multiple-choice--radios
                if errors
                  +validationMessage(errors.maritalStatus.msg, 'maritalStatus')
                .multiple-choice__item
                    input(id="maritalStatusSingle" name="maritalStatus" type="radio" value="Single" checked=(maritalStatus.toLowerCase()=='single') aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label(for="maritalStatusSingle") #{__('Single')}
                .multiple-choice__item
                    input(id="maritalStatusMarried" name="maritalStatus" type="radio" value="Married" checked=(maritalStatus.toLowerCase()=='married' || !data) aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label(for="maritalStatusMarried") #{__('Married or common-law')}
                .multiple-choice__item
                    input(id="maritalStatusSeparated" name="maritalStatus" type="radio" value="Separated" checked=(maritalStatus.toLowerCase()=='separated') aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label(for="maritalStatusSeparated") #{__('Separated')}
                .multiple-choice__item
                    input(id="maritalStatusDivorced" name="maritalStatus" type="radio" value="Divorced" checked=(maritalStatus.toLowerCase()=='divorced') aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label(for="maritalStatusDivorced") #{__('Divorced')}
                .multiple-choice__item
                    input(id="maritalStatusWidowed" name="maritalStatus" type="radio" value="Widowed" checked=(maritalStatus.toLowerCase()=='widowed') aria-describedby=(errors ? 'maritalStatus-error' : false))
                    label(for="maritalStatusWidowed") #{__('Widowed')}

    input#redirect(name='redirect', type='hidden', value='/personal/maritalStatus')

    +formButtons('Change Marital Status', '/personal/maritalStatus')
