extends ../base

block variables
  -var title = 'Confirm your name'

block content

  h1 #{__(title)}

  div
    p #{__('We’ve located your file for the current tax year (filing for 2018).')}
    p #{__('The first step to filing your taxes and getting your benefits is making sure your address and other personal information is up to date.')}
    p #{__('Please confirm this is still your current name.')}

  div
    table.pure-table
      thead
        tr
          th #{__('Full name')}
      tbody
        tr
          td
            div #{data.personal.firstName} #{data.personal.lastName}

  div
    details.
      <summary><span>#{__('Help with name confirmation')}</span></summary>
      <p>#{__('If you have changed your name since the last time you filed your taxes,')} <a href="https://www.canada.ca/en/revenue-agency/services/tax/individuals/frequently-asked-questions-individuals/should-you-tell-cra-about-your-change-name.html" target="_blank">#{__('get in contact with the CRA to update your information')}</a>.</p>
      <p>#{__('Once updated, you can proceed to use this service.')}</p>

  .buttons-row
    a.button-link(href='/personal/residence') #{__('Confirm')}
    a.button-link(href='/offramp') #{__('My name has changed')}
    a.button-link.transparent(href='/clear') #{__('Cancel')}

