extends ../base

block variables
  -var title = __('Check your name is correct')
  -var confirmedName = hasData(data, 'personal.confirmedName') ? data.personal.confirmedName : ''

block content

  h1 #{title}

  div
    p #{__(`CRA doesn't need your middle name.`)}

  div
    table.pure-table
      thead
        tr
          th #{__('Full name')}
      tbody
        tr
          td
            div #{data.personal.firstName} #{data.personal.lastName}

  form.cra-form(method='post')
    +radiosYesNo('name', 'Is this your name?')

    input#redirect(name='redirect', type='hidden', value='/personal/address')

    +formButtons()
