extends ../base
include ../_includes/banner

block content

  h1 #{__('service.name')}

  div
    p #{__('start.p1')}
    p #{__('start.p2')}

    .start-button
      a(href='/eligibility/age' role='button' draggable='false') #{__('button.start')} <span aria-hidden="true">→</span>

    h2 #{__('start.h2-1')}

    p #{__('start.p4')}

    ul
      li #{__('start.li4.1')} <i>"#{__('service.name')}"</i>
      li #{__('start.li5')}
      li #{__('start.li6')}

    h2 #{__('start.h2-2')}

    p #{__('start.p6')}

    include ../_includes/phone-bullets

