extends ../base
include ../_includes/banner

block content

  h1 #{__('service.name')}

  div
    p #{__('start.p1')}
    p #{__('start.p2')}

    .start-button
      a(href='/eligibility/age' role='button' draggable='false') #{__('button.start')} <span aria-hidden="true">→</span>

    h2 #{__('start.h2-1')}

    p #{__('start.p3')}

    ul
      li #{__('start.li1')}
        if getLocale() !== 'fr'
          <i>“#{__('service.name')}”</i>
        else
          <i>#{__('service.name')}</i>
      li #{__('start.li2')}
      li #{__('start.li3')}

    h2 #{__('start.h2-2')}

    p #{__('start.p4')}

    include ../_includes/phone-bullets

