extends ../base
include ../_includes/banner

block content

  h1 #{__('service.name')}

  div
    p #{__('start.p1')}
    ul
      li #{__('start.li1')}
      li #{__('start.li2')}
      li #{__('start.li3')}
    p #{__('start.p2')}
    ul
      li #{__('start.li5')}
      li #{__('start.li6')}

  div
    a(href='/login/code' role='button' draggable='false') #{__('button.start')} <span aria-hidden="true">→</span>
