extends ../base
include ../_includes/banner

block content

  h1 #{__('service.name')}

  +banner('blue')
    p #{__('start.banner.1')} <i>#{__('service.name')}</i>#{__('start.banner.2')}#{__('start.banner.3')}

  div
    p #{__('start.p1')}
    ul
      li #{__('start.li1')}
      li #{__('start.li2')}
      li #{__('start.li3')}
    p #{__('start.p2')}
    ul
      li #{__('start.li4.1')} <i>#{__('service.name')}</i>#{__('start.li4.2')}
      li #{__('start.li5')}
      li #{__('start.li6')}

  div
    a(href='/login/code' role='button' draggable='false') #{__('button.start')} <span aria-hidden="true">→</span>
