extends ../base
include ../_includes/banner

block content

  h1 #{__('Claim Tax Benefits')}

  +banner('blue')
    p #{__('Keep your notification letter with you. You need information on that letter to use this service.')}

  div
    p #{__('Welcome to the Canada Revenue Agency’s new')} <strong>#{__('Claim Tax Benefits')}</strong> #{__('service')}.
    p #{__('This service is to claim tax benefits online.')} #{__('You are eligible for this service if:')}
    ul
      li #{__('You earned under $35,000 in 2018 (from employment, pension, RRSP withdrawals, or from benefits and credits you received)')}
      li #{__('You do not have self-employment income to report')}
      li #{__('You do not earn investment income (except for nominal interest income from Canadian sources)')}
    p #{__('In order to claim tax benefits online, you must have the following:')}
    ul
      li #{__('Your personal access code')}
      li #{__('Social Insurance Number (SIN)')}
      li #{__('Income information')}

  div
    a.button-link(href='/login/code' role='button' draggable='false') #{__('Start now')} <span aria-hidden="true">→</span>
