extends ../base

block variables
  -var title = __('Cancel this session')

block content

  h1 #{title}

  div
    p #{__('Are you sure you want to cancel?')}

    p #{__('If you cancel this session, none of your information will be saved.')}

    p #{__('You will need to start a new session if you want to file taxes with this service.')}

    .buttons-row
      a(class='cancel' href='/clear' role='button' draggable='false') #{__('Cancel this session')}

      a.transparent(href=back role='button' draggable='false') #{__('Go back')}