extends ../base

block variables
  -var title = __('Small and rural communities')
  -var climateActionIncentiveIsRural = !hasData(data, 'deductions.climateActionIncentiveIsRural') ? '' : data.deductions.climateActionIncentiveIsRural ? 'Yes' : 'No'

block content

  h1 #{title}

  form.cra-form(method='post')
    +radiosYesNo('climateActionIncentiveIsRural', 'Did you live in a small and rural community in 2018?', climateActionIncentiveIsRural)

    input#redirect(name='redirect', type='hidden', value='/login/securityQuestion')

    div
      details.
        <summary><span>#{__('Check if you live in a small and rural community')}</span></summary>
        <p>#{__('You live in a small and rural community if you live outside of:')}</p>
        <ul>
          <li>#{__('Barrie')}</li>
          <li>#{__('Belleville')}</li>
          <li>#{__('Brantford')}</li>
          <li>#{__('Greater Toronto Area')}</li>
          <li>#{__('Guelph')}</li>
          <li>#{__('Hamilton')}</li>
          <li>#{__('Kingston')}</li>
          <li>#{__('Kitchener-Cambridge-Waterloo')}</li>
          <li>#{__('London')}</li>
          <li>#{__('Oshawa')}</li>
          <li>#{__('Ottawa')}</li>
          <li>#{__('Peterborough')}</li>
          <li>#{__('St. Catharines-Niagara')}</li>
          <li>#{__('Sudbury')}</li>
          <li>#{__('Thunder Bay')}</li>
          <li>#{__('Windsor')}</li>
        </ul>

    +formButtons()
