extends ../base

block variables
  -var title = __('Enter medical costs')
  -var medicalAmount = hasData(data, 'deductions.medicalExpenseClaimAmount.amount') && data.deductions.medicalExpenseClaimAmount.amount !== 0 ? data.deductions.medicalExpenseClaimAmount.amount : ''

block content

  h1 #{title}
  
  div
    p #{__('Enter total medical costs for:')}
    ul
      li #{__('Yourself')}
      li #{__('Your marriage or common law partner')}
      li #{__('You or your partner’s children, ')} <a href="/deductions/medical">#{__('if you are able')}</a> #{__('to claim their costs')}

  form.cra-form(method='post')
    +textInput('Enter the total cost of medical expenses')(class='w-1-2 input-with-unit' name='medicalAmount' placeholder='0.00' aria-labelledby='medicalAmount__unit medicalAmount__label' value=medicalAmount)

    input#redirect(name='redirect', type='hidden', value='/deductions/political')

    div
      p #{__('For more information, contact CRA by:')}
        ul
          li #{__('Phone: 1-800-959-8281')}
          li #{__('TTY (Teletypewriter): 1-800-665-0354')}
    +formButtons('Continue', '/deductions/medical')
