extends ../base

block variables
  -var title = __('Claim medical expenses')
  -var medicalClaim = hasData(data, 'deductions.medicalClaim') ? data.deductions.medicalClaim : ''

block content

  h1 #{title}

  div
    p #{__('You can claim medical expenses for your self, spouse or common-law partner, and dependent children born after 2001.')}

  form.cra-form(method='post')
    +textInput('Enter the total cost of medical expenses for your self, spouse, and dependent children born after 2001')(class='w-1-2 input-with-unit' name='medicalAmount' placeholder='0.00' aria-labelledby='medicalAmount__unit medicalAmount__label' value=medicalAmount)

    input#redirect(name='redirect', type='hidden', value='/deductions/political')

    div
      details.
        <summary><span>#{__('Learn more about eligible medical expenses')}</span></summary>
        <p>#{__('Eligible medical expenses can include specialized equipment, accessibility devices, etc. For more information, please refer to ')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/lines-330-331-eligible-medical-expenses-you-claim-on-your-tax-return.html#mdcl_xpns')} target="_blank">#{__(`the CRA's guide to eligible medical expenses`)}</a>.</p>

    +formButtons('Continue', '/deductions/medical')
