extends ../base

block variables
  -var title = __('Enter rent paid in 2018')
  -var trilliumRentAmount = hasData(data, 'deductions.trilliumRentAmount') ? data.deductions.trilliumRentAmount : '0'

block content

  h1 #{title}

  include ../_includes/backButton

  div
    p #{__('To get the most out of your')} <strong>#{__('Ontario Trillium Benefit')}</strong>, #{__('enter the amount you paid in rent in 2018.')}

    p #{__('Please note you may be asked to provide receipts to verify this information later.')}

  form.cra-form(method='post')
    +textInput('Total annual rent in 2018')(class='w-1-2 input-with-unit' name='trilliumRentAmount' placeholder='0.00' aria-labelledby='trilliumRentAmount__unit trilliumRentAmount__label' value=trilliumRentAmount)

    input#redirect(name='redirect', type='hidden', value='/trillium/propertyTax/amount')

    +formButtons('Continue')
