extends ../base

block variables
  -var title = __('Deduct your long-term care home costs')
  -var trilliumLongTermCareClaim = !hasData(data, 'deductions.trilliumLongTermCareClaim') ? '' : data.deductions.trilliumLongTermCareClaim ? 'Yes' : 'No'

block content

  h1 #{title}

  include ../_includes/backButton

  div
    p #{__('A')} <strong>#{__('long-term care home')}</strong> #{__('can include a nursing home or a municipal, First Nations, or charitable home for the aged.')} #{__('If you lived in a nursing home or another public long-term care facility in 2018, you may be entitled to receive credits from your')} <strong>#{__('Ontario Trillium Benefit')}</strong>.

  form.cra-form(method='post')
    +yesNoRadios('trilliumLongTermCareClaim', trilliumLongTermCareClaim, 'Did you live in a public long-term care home in 2018?', errors)

    input#redirect(name='redirect', type='hidden', value='/deductions/climate-action-incentive')

    +formButtons()
