extends ../base

block variables
  -var title = __('Enter taxes on home you owned')
  -var trilliumPropertyTaxAmount = hasData(data, 'deductions.trilliumPropertyTaxAmount') &&  data.deductions.trilliumPropertyTaxAmount !== 0 ? data.deductions.trilliumPropertyTaxAmount : ''
  -var placeholder= currencyWithoutUnit(getLocale())
  -var formattedValue= currencyWithoutUnit(getLocale(), trilliumPropertyTaxAmount)

block content

  h1 #{title}

  div
    p #{__('The government might ask for your property tax receipts.')}

  form.cra-form(method='post')
    +textInput('How much total property tax did you pay for your principal residence in 2019?')(class='w-1-2 input-with-unit' name='trilliumPropertyTaxAmount' placeholder=placeholder
    aria-labelledby='trilliumPropertyTaxAmount__unit trilliumPropertyTaxAmount__label' value=formattedValue)

    div
      details.
        <summary><span>#{__('Learn about property tax')}</span></summary>
        <p>#{__('Property tax combines municipal and school taxes')}</p>

    input#redirect(name='redirect', type='hidden', value='/trillium/longTermCare')

    +formButtons('Continue')
