extends ../base

block variables
  -var title = __('Enter your personal access code')

block content

  h1 #{title}

  div
    p #{__('Your personal access code is the the 9-character code at the bottom of your notification letter.')}

  div
    form.cra-form(method='post')
      +textInput('Personal access code', null, 'For Example: A5G98S4K1')(class='w-3-4', id='code' name='code', autofocus, value=data.code)

      div
        details.
          <summary><span>#{__('Help with personal access code')}</span></summary>
          <p>#{__('Your code is on the personally-addressed letter.')}</p>

      input#redirect(name='redirect', type='hidden', value='/login/sin')

      +formButtons()
