extends ../base

block variables
  -var title = __('Enter your date of birth')
  -var dateOfBirth = hasData(body, 'dateOfBirth') ? body.dateOfBirth : ''
  -var dobDay = hasData(body, 'dobDay') ? body.dobDay : ''
  -var dobMonth = hasData(body, 'dobMonth') ? body.dobMonth : ''
  -var dobYear = hasData(body, 'dobYear') ? body.dobYear : ''

block content

  h1 #{title}

  div
    p #{__('Thanks!')} #{__('We just need one more piece of information to authenticate you.')}

    p #{__('Please enter your date of birth in the field below.')}

    p For example, #{splitISODate(data.personal.dateOfBirth, 'd')} #{splitISODate(data.personal.dateOfBirth, 'm')} #{splitISODate(data.personal.dateOfBirth, 'y')}

  div
    form.cra-form.cra-form--lg.cra-form--dob(method='post')
      h2 #{__('Your date of birth')}

      +textInput('Day', ['w-1-4','d--ib'])(class='', value=dobDay, name='dobDay' autofocus=(!errors || errors && firstError.param === 'dobDay' ? true : false))

      +textInput('Month', ['w-1-4','d--ib'])(class='', value=dobMonth name='dobMonth')

      +textInput('Year', ['w-1-2','d--ib'])(class='', value=dobYear name='dobYear')

      input#redirect(name='redirect', type='hidden', value='/personal/name')

      +formButtons()
