extends ../base

block variables
  -var title = __('Enter your date of birth')
  -var dateOfBirth = hasData(body, 'dateOfBirth') ? body.dateOfBirth : ''
  -var dobDay = hasData(body, 'dobDay') ? body.dobDay : ''
  -var dobMonth = hasData(body, 'dobMonth') ? body.dobMonth : ''
  -var dobYear = hasData(body, 'dobYear') ? body.dobYear : ''

block content

  h1 #{title}

  div
    p #{__('Thanks!')} #{__('We just need one more piece of information to authenticate you.')}

    p #{__('Please enter your date of birth in the field below.')}


  div
    form.cra-form.cra-form--lg.cra-form--dob(method='post')

      div.dob-container(class={['has-error']: errors && errors.dobDay})
        fieldset.fieldset(role="group", aria-describedby="dobHint",)
          legend
            h3 #{__('Your date of birth')}

          span#dobHint.cra-form-message #{__('For Example:')} #{isoDateHintText(data.personal.dateOfBirth)}

          if errors
            ul
              each err in errors
                li
                  +validationMessage(err.msg, err.param)

          div.w-1-4.d--ib
            label(for='dobDay') #{__('Day')}
            input#dobDay(name='dobDay', autofocus, type='text', value=dobDay, autocomplete='bday-day', aria-describedby=(errors && errors.dobDay ? 'dobDay-error' : false))

          div.w-1-4.d--ib
            label(for='dobMonth') #{__('Month')}
            input#dobMonth(name='dobMonth', autofocus, type='text', value=dobMonth, autocomplete='bday-month', aria-describedby=(errors && errors.dobMonth ? 'dobMonth-error' : false))

          div.w-1-2.d--ib
            label(for='dobYear') #{__('Year')}
            input#dobYear(name='dobYear', autofocus, type='text', value=dobYear, autocomplete='bday-year', aria-describedby=(errors && errors.dobYear ? 'dobYear-error' : false))

          input#redirect(name='redirect', type='hidden', value='/personal/name')

      +formButtons()
