extends ../base

block variables
  -var title = __('Choose a security question')

block content

  h1 #{title}

  div
    p #{__('Answer a question from the list below:')}

  form.cra-form.cra-form--lg(method='post')
    div(class={['has-error']: errors && errors.securityQuestion})
      fieldset
          legend #{__('Select 1 question to answer from the list below')}
          .multiple-choice.multiple-choice--radios
              if errors
                +validationMessage(errors.securityQuestion.msg, 'securityQuestion')
              .multiple-choice__item
                  input(id="securityQuestion1" name="securityQuestion" type="radio" value="/login/questions/child" aria-describedby=(errors ? 'securityQuestion-error' : false))
                  label(for="securityQuestion1") #{__('Your child’s name and birthdate')}
              .multiple-choice__item
                  input(id="securityQuestion2" name="securityQuestion" type="radio" value="/login/questions/trillium" aria-describedby=(errors ? 'securityQuestion-error' : false))
                  label(for="securityQuestion2") #{__('Your Ontario Trillium Benefit amount and payment type')}

    div
      details.
        <summary><span>#{__('I can’t answer these questions')}</span></summary>
        <p>#{__('If you can’t answer these questions, continue to the next page for different questions.')}</p>

    //- Not sure what the craic is here because we don't need this anymore
    input#redirect(name='redirect', type='hidden', value='/')

    +formButtons()
