extends ../base

block variables
  -var title = __('Choose a security question')
  -var securityQuestion = hasData(data, 'login.securityQuestion') ? data.login.securityQuestion : ''

block content

  h1 #{title}

  div
    p #{__('Answer a question from the list below:')}

  form.cra-form.cra-form--lg(method='post')
    div(class={['has-error']: errors && errors.securityQuestion})
      fieldset
          legend #{__('Select 1 question to answer from the list below')}
          .multiple-choice.multiple-choice--radios
              if errors
                +validationMessage(errors.securityQuestion.msg, 'securityQuestion')
              .multiple-choice__item
                  input(id="securityQuestion0" name="securityQuestion" type="radio" value="/login/questions/child" aria-describedby=(errors ? 'securityQuestion-error' : false) checked=(securityQuestion && securityQuestion === '/login/questions/child'))
                  label(for="securityQuestion0") #{__('Your child’s name and birthdate')}
              .multiple-choice__item
                  input(id="securityQuestion1" name="securityQuestion" type="radio" value="/login/questions/trillium" aria-describedby=(errors ? 'securityQuestion-error' : false) checked=(securityQuestion && securityQuestion === '/login/questions/trillium'))
                  label(for="securityQuestion1") #{__('Your Ontario Trillium Benefit amount and payment type')}

    div
      details.
        <summary><span>#{__('I can’t answer these questions')}</span></summary>
        <p>#{__('If you can’t answer these questions, continue to the next page for different questions.')}</p>

    +formButtons()
