extends ../base
include ../_includes/banner

block variables
  -var title = __('Enter your Social insurance number (SIN)')
  -var sin = hasData(body, 'sin') ? body.sin : (hasData(data.login, 'sin') ? data.login.sin : '')
  -var firstName = hasData(data, 'login.firstName') ? data.login.firstName : (hasData(data, 'personal.firstName') ? data.personal.firstName : '' )

block content

  h1 #{title}

  if firstName
    h2 #{firstName}, #{__('thanks for your filing code')}.

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.sin})
      label(for='sin') #{__('Social insurance number')}
      span.cra-form-message #{__('For example:')} #{SINFilter('540739869')}
      if errors
        +validationMessage(errors.sin.msg, 'sin')
      input.w-3-4#sin(name='sin', type='text', value=sin, autocomplete='off' aria-describedby=(errors && errors.sin ? 'sin-error' : false))

    input#redirect(name='redirect', type='hidden', value='/login/dateOfBirth')

    div
      details.
        <summary><span>#{__('Help with Social insurance number')}</span></summary>
        <p>#{__('You can find your SIN on your tax return or other mail from Service Canada. Service Canada also gave you a card or confirmation letter with your SIN.')}</p>

    +formButtons()
