extends ../base

block variables
  -var title = 'Enter your Social Insurance Number (SIN)'

block content

  h1 #{title}

  if data.personal
    h2 Thanks, #{data.personal.firstName} #{data.personal.lastName}!

  p Now that we have your personal code, we need some additional information in order to verify that it’s you.

  p Please enter your Social Insurance Number (SIN) in the field below.

  form.cra-form(method='post')
    div
      label(for='sin') Social Insurance Number
      if data.personal
        span.cra-form-message For Example: #{SINFilter(data.personal.sin)}
      else
        span.cra-form-message For Example: 123 456 789

      input.w-3-4#sin(class={['has-error']: errors && errors.sin} name='sin', type='text', value=data.sin, autocomplete='off' aria-describedby=(errors && errors.sin ? 'sin_error' : false))
      if errors
        span.validation-message #{__(errors.sin.msg)}

    div
      details.
        <summary><span>Help with Social Insurance Number (SIN)</span></summary>
        <p>This is sample text that should be changed</p>

    input#redirect(name='redirect', type='hidden', value='/login/success')

    .buttons
      .buttons--left
        button(type='submit') Continue
      .buttons--right
        a.button-link.transparent.full-width(href='/clear') Cancel
