mixin formButtons(submitButtonText = 'Continue', cancelUrl='/cancel', cancelText= 'Cancel')
  input(type='hidden', name="_csrf", value=csrfToken)
  
  .buttons
    .buttons--left
      button(type='submit') #{__(submitButtonText)}
    .buttons--right
      if path
        a.transparent.full-width(href=`${cancelUrl}?back=${path}` role='button' draggable='false') #{__(cancelText)}
      else
        a.transparent.full-width(href=cancelUrl role='button' draggable='false') #{__(cancelText)}

mixin linkButtons(confirmURL, linkButtonText = 'Confirm')
  .buttons-row
    a(href=confirmURL role='button' draggable='false') #{__(linkButtonText)}
    if block
        block
    a.transparent(href='/clear' role='button' draggable='false') #{__('Cancel')}
