mixin formButtons(submitButtonText = 'Continue', cancelUrl='/clear')
  .buttons
    .buttons--left
      button(type='submit') #{__(submitButtonText)}
    .buttons--right
      a.transparent.full-width(href=cancelUrl role='button' draggable='false') #{__('Cancel')}

mixin linkButtons(confirmURL, linkButtonText = 'Confirm')
  .buttons-row
    a(href=confirmURL role='button' draggable='false') #{__(linkButtonText)}
    if block
        block
    a.transparent(href='/clear' role='button' draggable='false') #{__('Cancel')}
