mixin formButtons(submitButtonText = 'Continue', cancelUrl='/clear')
  .buttons
    .buttons--left
      button(type='submit') #{__(submitButtonText)}
    .buttons--right
      a.transparent.full-width(href=cancelUrl role='button' draggable='false') #{__('Cancel')}

mixin linkButtons(confirmURL, continueButton)
  .buttons-row
    if continueButton
      a(href=confirmURL role='button' draggable='false') #{__('Continue')}
    else
      a(href=confirmURL role='button' draggable='false') #{__('Confirm')}
    if block
        block
    a.transparent(href='/clear' role='button' draggable='false') #{__('Cancel')}
