mixin textInputUnit(divClasses, inputClasses, name, label, value, message, unit, placeholder)
  div(
    class={['has-error']: errors && errors[name]}
    class=divClasses
  )
    label(id=name+'__label' for=name) #{__(label)}
    if errors
      +validationMessage(errors[name].msg, name)
    span.input-with-unit__unit(id=name+'__unit' for=name)=unit
    input.input-with-unit(class=inputClasses id=name name=name, type='text', placeholder=placeholder, autocomplete='off' aria-describedby=(errors && errors[name] ? name + '-error' : false) aria-labelledby=name + "__label " + name + "__unit")