mixin radios(id, legend, value, options)
  div(class={['has-error']: errors && errors[id]})
    fieldset
      if attributes && attributes.h2
        legend
          h2 #{__(legend)}
      else
        legend #{__(legend)}
      .multiple-choice.multiple-choice--radios
        if errors && errors[id]
          +validationMessage(errors[id].msg, id)
        each opt, index in options
          if opt.label === "Skip security questions"
            p.multiple-choice__p #{__('OR')}
            .multiple-choice__item
              input(id=(id+index) name=id type="radio" value=opt.value aria-describedby=(errors && errors[id] ? id+"-error" : false) checked=(value === opt.value))
              label(for=(id+index)) #{__(opt.label)}
          else
            .multiple-choice__item
              input(id=(id+index) name=id type="radio" value=opt.value aria-describedby=(errors && errors[id] ? id+"-error" : false) checked=(value === opt.value))
              label(for=(id+index)) #{__(opt.label)}

mixin radiosYesNo(id, legend, value)
  +radios(id, legend, value, [
    {value: 'Yes', label: 'Yes'},
    {value: 'No', label: 'No'}
  ])
