mixin radio-buttons(radioForm)
    .radios
        each option, index in radioForm.options
            .radios__item
                input.radios__input(id=radioForm.common.name+index name=radioForm.common.name type="radio" value=option.value  aria-describedby=(errors ? radioForm.common.name+'_error' : false)
                checked=(radioForm.common.dataKey &&radioForm.common.dataKey.toLowerCase()==option.value.toLowerCase()))
                label.radios__label(for=radioForm.common.name+index) #{option.label}