extends ../../base

block variables
  -var title = __('Enter date you became a resident of Canada')
  -var dobDay = hasData(body, 'dobDay') ? body.dobDay : ''
  -var dobMonth = hasData(body, 'dobMonth') ? body.dobMonth : ''
  -var dobYear = hasData(body, 'dobYear') ? body.dobYear : ''

block content

  h1 #{title}

  div
    p #{__('For income tax, you become a resident by building strong ties to Canada as your home. Usually this happens on the date you arrive in Canada.')}

    p #{__('If you ever lost permanent resident status, enter the date you returned to Canada.')}
  div
    form.cra-form(method='post')

      div.dob-container(class={['has-error']: errors && errors.dobDay})
        fieldset.fieldset(role="group", aria-describedby="dobHint")
          legend
            h2 #{__('Date you became a resident of Canada')}

          span#dobHint.cra-form-message #{__('For Example:')} 21 05 2006

          if errors
            ul
              each err in errors
                - if (err.param.startsWith("dob"))
                  li
                    +validationMessage(err.msg, err.param)

          div.w-1-4.d--ib
            label(for='dobDay') #{__('Day')}
            input#dobDay(name='dobDay', type='text', value=dobDay, aria-describedby=(errors && errors.dobDay ? 'dobDay-error' : false))

          div.w-1-4.d--ib
            label(for='dobMonth') #{__('Month')}
            input#dobMonth(name='dobMonth', type='text', value=dobMonth, aria-describedby=(errors && errors.dobMonth ? 'dobMonth-error' : false))

          div.w-1-2.d--ib
            label(for='dobYear') #{__('Year')}
            input#dobYear(name='dobYear', type='text', value=dobYear, aria-describedby=(errors && errors.dobYear ? 'dobYear-error' : false))

      input#redirect(name='redirect', type='hidden', value='/personal/name')

      +formButtons()
