extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Check Your Answers Before Filing Your Return')

block content

  h1 #{title}

  include ../_includes/backButton

  div
    p #{__('This is an overview of your projected tax return, and all the benefits you will receive when you file for the current tax year.')}
    p #{__('Take one final look before continuing. If something looks incorrect, please')} #[a(href="https://www.canada.ca/en/revenue-agency/corporate/contact-information/telephone-numbers.html") #{__('contact CRA')}] #{__('before filing.')}

  each section, index in answerInfo
    div
      .breakdown-table.breakdown-table--summary
        h2.breakdown-table__heading #{index}
        dl.breakdown-table-data
          each row in section
            if !row.displayIf || row.displayIf && hasData(data,row.displayIf,true) !== null
              .breakdown-table__row
                  dt.breakdown-table__row-key #{row.text}
                  dd.breakdown-table__row-value
                    if row.infoPath.length > 1
                      - var totalVal = 0
                      //- are we adding strings?
                      if (typeof hasData(data,row.infoPath[0],true) === 'string') 
                        each val in row.infoPath
                          span=`${hasData(data, val, true)} `
                      //- or numbers?
                      else
                        each val in row.infoPath
                          - totalVal += parseInt(hasData(data, val, true))
                        span=totalVal
                    else if row.infoPath.length <= 1
                      each val in row.infoPath
                        if val.includes('Claim') && !val.includes('Amount') || val.includes('trillium') && !val.includes('Amount') || val.includes('climateActionIncentiveIsRural')
                          span=hasData(data,val,true) === null ? 'No' : 'Yes'
                        else 
                          span #{hasData(data, val, true)}
                        //- check address
                  if row.urlPath !== ""
                    dd.breakdown-table__row-link 
                      a(href=row.urlPath)
                        <span>Review<span class="visually-hidden"> #{row.text}</span>