extends ../base

block variables
  -var title = __('You have filed your 2018 taxes')

block content

  h1 #{title}

  div
    table.pure-table
      thead
        tr
          th #{__('Your 2018 filing number is')}
      tbody
        tr
          td 5H3P9IO5816

    p #{__('Give CRA this number if you need help or information. You can contact CRA by:')}  
    include ../_includes/phone-bullets

    p #{__('You can also get help at a free tax clinic. Visit')} <a href=#{__('https://www.canada.ca/en/revenue-agency/campaigns/free-tax-help.html?utm_campaign=not-applicable&utm_medium=vanity-url&utm_source=canada-ca_taxes-help')}>#{__('canada.ca/taxes-help')}</a> #{__('to find your nearest clinic.')}

    a(href='#' role='button' draggable='false') #{__('Print summary of your 2018 tax return')}

  div

    p #{__('It is important to read your Notice of Assessment which shows:')}
    ul
      li #{__('That you filed taxes')}
      li #{__('If you will get benefits or money back')}
      li #{__('If you owe money to CRA')}

    a(href='#' role='button' draggable='false') #{__('Download your Notice of Assessment')}