extends ../base
include ../_includes/banner

block variables
  -var title = __('You have filed your 2019 taxes')

block content

  h1 #{title}

  div
    table.confirmation-table
      thead
        tr
          th #{__('Your filing code')}
      tbody
        tr
          td 5H3P9IO5816

    p #{__('Keep this filing code and use it if you need to call about your taxes or ask for help from CRA by:')}
    include ../_includes/phone-bullets

    p #{__('You will get a notice of assessment in about 2 weeks. The notice proves you filed taxes, and shows if you must pay tax.')}

    p #{__('You may get a refund. CRA sends refunds by cheque or puts the money in your bank account if you')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/about-canada-revenue-agency-cra/direct-deposit.html')}>#{__('register')}</a> #{__('for CRA direct deposit.')}

    p #{__('A refund could include these benefits and credits:')}

    include ../_includes/benefits-table

    p #{__('Thank you for using this service.')}  <a href="/feeback">#{__('Please help us make it better')}</a>
