extends ../base

block variables
  -var title = __('Confirm 2019 Income')

block content

  h1 #{title}

  if(data.login.ageYesNo === 'No')
    p #{__('If your income is above $12,069:')}
  else
    p #{__('If your income is above $19,564:')}

  ul
    li #{__('You may need to pay tax')}
    li #{__('You will not be able to lower your tax by deducting contributions or costs such as charitable or political donations, medical costs, RRSP or similar contributions')}

  p #{__('Income includes:')}

  ul
    li #{__('Benefits such as social assistance')}
    li #{__('Employment, a pension, or Registered Retirement Savings Plan (RRSP)')}
    li #{__('Up to $1000 of interest from Canadian sources, such as a bank or savings account')}

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.confirmIncome})
      .multiple-choice.multiple-choice--checkboxes
        if errors
          +validationMessage(errors.confirmIncome.msg, key)
        .multiple-choice__item
          input(id='confirmIncome' name='confirmIncome' type="checkbox" value="confirmIncome" checked=(value =='confirmIncome') aria-describedby=(errors ? `confirmIncome-error` : false))
          if(data.login.ageYesNo === 'No')
            label(for='confirmIncome') #{__('Check this box to confirm your income was less than $12,069 in 2019')}
          else
            label(for='confirmIncome') #{__('Check this box to confirm your income was less than $19,564 in 2019')}


    input#redirect(name='redirect', type='hidden', value='/checkAnswers')

    +formButtons('Continue')