extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = __('Review and file tax return')
  -var benefits = hasData(data, 'benefits') ? data.benefits : {}
  -var totalBenefits = hasData(data, 'benefits.totalBenefits.amount') ? data.benefits.totalBenefits.amount : 0
  -var incomes = hasData(data, 'financial.incomes') ? data.financial.incomes : {}
  -var taxes = hasData(data, 'financial.taxes') ? data.financial.taxes : {}
  -var refund = hasData(data, 'refund') ? data.refund : {}
  -var totalRefund = hasData(data, 'refund.totalRefund') ? data.refund.totalRefund : 0
  -var refundLines = sortByLineNumber(data.deductions, taxes, incomes, refund)
  -var count = 1;


block content

  h1 #{title}

  div
    p #{__('This is an overview of your projected tax return, and all the benefits you will receive when you file for the current tax year.')}
    p #{__('Take one final look before continuing. If something looks incorrect, please')} #[a(href="https://www.canada.ca/en/revenue-agency/corporate/contact-information/telephone-numbers.html") #{__('contact CRA')}] #{__('before filing.')}

  div
    .breakdown-table
      h2.breakdown-table__heading 
        span #{__('Your annual benefits')}
        span $#{currencyFilter(totalBenefits)}
      
      p.breakdown-table__subheading #{__('Detailed breakdown of benefits')}

      dl.breakdown-table-data
        each benefit in benefits
          if benefit.name !== "totalBenefits"
            .breakdown-table__row
              dt.breakdown-table__row-key #{__(`${benefit.name}`)}
              dd.breakdown-table__row-value $#{currencyFilter(benefit.amount)}

        .breakdown-table__row.breakdown-table__row--summary
          dt.breakdown-table__row-key #{__('Total Benefits')}
          dd.breakdown-table__row-value $#{currencyFilter(totalBenefits)}

  div
    .breakdown-table
      h2.breakdown-table__heading 
        span #{__('Your projected refund')}
        span +$#{currencyFilter(totalRefund.amount)}
      
      p.breakdown-table__subheading #{__('Detailed breakdown of tax refund')}

      dl.breakdown-table-data
        each refundLine in refundLines
          -var lineNumber = refundLine.multiLine ? refundLine.multiLine : refundLine.line
          .breakdown-table__row(
            class={
              ['breakdown-table__row--summary space-row']: refundLine.name === "Total Refund",
              ['space-row']: count === 5 || count === 6 || count === 7 || count === 9
            }
          )
            dt.breakdown-table__row-key #{__(`${refundLine.name} (${lineNumber})`)}
            dd.breakdown-table__row-value $#{currencyFilter(refundLine.amount)}

          - count++



  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.review})
      .multiple-choice.multiple-choice--checkboxes
        if errors
          +validationMessage(errors.review.msg, key)
        .multiple-choice__item
          input(id='review' name='review' type="checkbox" value="review" checked=(value =='review') aria-describedby=(errors ? `review-error` : false))
          label(for='review') #{__('I confirm that, as far as I know, all the information in this tax return is accurate')}

    input#redirect(name='redirect', type='hidden', value='/confirmation')

    +formButtons('Submit my return')
