extends ../base
include ../_includes/yesNoRadios

block variables
  -var title = 'Review and file tax return'
  -var benefits = hasData(data, 'benefits') ? data.benefits : {}
  -var totalBenefits = hasData(data, 'benefits.totalBenefits') ? data.benefits.totalBenefits : 0
  -var totalIncome = hasData(data, 'financial.incomes.totalIncome') ? data.financial.incomes.totalIncome : 0

  -var incomes = hasData(data, 'financial.incomes') ? data.financial.incomes : {}
  -var taxes = hasData(data, 'financial.taxes') ? data.financial.taxes : {}
  -var refund = hasData(data, 'refund') ? data.refund : {}
  -var deductions = sortByLineNumber(data.deductions, taxes, incomes, refund)


block content

  h1 #{title}

  div
    p This is an overview of your projected tax return, and all the benefits you will receive when you file for the current tax year.
    p Take one final look before continuing. If something looks incorrect, please #[a(href="https://www.canada.ca/en/revenue-agency/corporate/contact-information/telephone-numbers.html") contact CRA] before filing.

  div
    table.breakdown-table
      thead
        tr
          th.breakdown-table__heading #{__('Your annual benefits')}
          th.breakdown-table__heading $#{currencyFilter(totalBenefits, 0)}
      tbody
        tr
          th(colspan="2").breakdown-table__subheading #{__('Detailed breakdown of benefits')}
        each val, index in benefits
          if index !== "totalBenefits"
            tr
              td #{__(`${index}`)}
              td $#{currencyFilter(val)}

        tr.breakdown-table__summary-row
          td #{__('Total Benefits')} 
          td $#{currencyFilter(totalBenefits)}
  
  div
    table.breakdown-table
      thead
        tr
          th.breakdown-table__heading #{__('Your projected refund')}
          th.breakdown-table__heading $#{currencyFilter(totalBenefits, 0)}
      tbody
        tr
          th(colspan="2").breakdown-table__subheading #{__('Detailed breakdown of benefits')}
        each deduction in deductions
          -var lineNumber = deduction.multiLine ? deduction.multiLine : deduction.line
          
          tr(
            class={['breakdown-table__summary-row']: deduction.name === "Total Refund"}
          )
            td #{__(`${deduction.name} (${lineNumber})`)}
            td $#{currencyFilter(deduction.amount)}



  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.review})
      .multiple-choice.multiple-choice--checkboxes
        if errors
          +validationMessage(errors.review.msg, key)
        .multiple-choice__item
          input(id='review' name='review' type="checkbox" value="review" checked=(value =='review') aria-describedby=(errors ? `review-error` : false))
          label(for='review') I confirm that, as far as I know, all the information in this tax return is accurate

    input#redirect(name='redirect', type='hidden', value='/confirmation')

    +formButtons('Submit my return')
