extends ../base

block variables
  -var title = __('Review and file tax return')
  -var benefits = hasData(data, 'benefits') ? data.benefits : {}
  -var totalBenefits = hasData(data, 'benefits.totalBenefits.amount') ? data.benefits.totalBenefits.amount : 0
  -var incomes = hasData(data, 'financial.incomes') ? data.financial.incomes : {}
  -var taxes = hasData(data, 'financial.taxes') ? data.financial.taxes : {}
  -var refund = hasData(data, 'refund') ? data.refund : {}
  -var totalRefund = hasData(data, 'refund.totalRefund') ? data.refund.totalRefund : 0
  -var refundLines = sortByLineNumber(data.deductions, taxes, incomes, refund)


block content

  h1 #{title}

  div
    p #{__('You can expect the following benefits and refund from your 2018 taxes.')}
    p #{__('Please check this information. If anything looks wrong, contact CRA before filing by:')}
    ul
      li #{__('Phone: 1-800-959-8281')}
      li #{__('TTY (text telephone): 1-800-665-0354')}

  div
    .breakdown-table
      h2.breakdown-table__heading
        span #{__('Your 2018 tax benefits')}
        span $#{currencyFilter(totalBenefits)}

      p.breakdown-table__subheading #{__('Detailed breakdown of benefits')}

      dl.breakdown-table-data
        each benefit, index in benefits
          if index !== "totalBenefits"
            .breakdown-table__row
              dt.breakdown-table__row-key #{__(`${benefit.name}`)}
              dd.breakdown-table__row-value $#{currencyFilter(benefit.amount)}

        .breakdown-table__row.breakdown-table__row--summary
          dt.breakdown-table__row-key #{__('Total benefits')}
          dd.breakdown-table__row-value $#{currencyFilter(totalBenefits)}

  div
    .breakdown-table
      h2.breakdown-table__heading
        span #{__('Your expected 2018 refund')}
        span +$#{currencyFilter(totalRefund.amount)}

      p.breakdown-table__subheading #{__('Detailed breakdown of tax refund')}

      dl.breakdown-table-data
        each refundLine in refundLines
          -var lineNumber = refundLine.multiLine ? refundLine.multiLine : refundLine.line
          .breakdown-table__row(
            class={
              ['breakdown-table__row--summary space-row']: refundLine.name === "Total Refund"
            }
          )
            dt.breakdown-table__row-key #{__(`${refundLine.name} (${lineNumber})`)}
            dd.breakdown-table__row-value $#{currencyFilter(refundLine.amount)}

  form.cra-form(method='post')
    div(class={['has-error']: errors && errors.review})
      .multiple-choice.multiple-choice--checkboxes
        if errors
          +validationMessage(errors.review.msg, key)
        .multiple-choice__item
          input(id='review' name='review' type="checkbox" value="review" checked=(value =='review') aria-describedby=(errors ? `review-error` : false))
          label(for='review') #{__('You agree that CRA can use this information to file your 2018 taxes.')}

    input#redirect(name='redirect', type='hidden', value='/confirmation')

    input(type='hidden', name="_csrf", value=csrfToken)

    +formButtons('File your taxes now')
