include ../baseOfframpConfirmation

block content
  .offramp-confirmation
    .offramp-banner-container
      h1 #{__('This is the end of the prototype')}
      
      p #{__('To continue the survey')} <strong>#{__('click anywhere outside this popup window.')}</strong>
      p #{__('Clicking')} <i>#{__('Next')}</i> #{__(` once you are back in the survey, will proceed to the next step, where we'll ask for feedback on your experience.`)}

    

