extends ../base

block variables
  -var title = __('You have reached the end of the prototype')

block content

  h1 #{title}
 
  div
    p #{__('To continue the survey click anywhere outside this popup window')}
    p #{__('Clicking')} <i>#{__('Continue')}</i> #{__(`, will proceed to the next step, where we'll ask for feedback on your experience.`)}

  a(href='/feedback' role='button' draggable='false') #{__('Continue')}
    

