extends ../base
include ../_includes/banner

block variables
  -var title = __('File your taxes another way')

block content

  h1 #{title}

  .offramp
    p #{__(`You can’t use this online service because your marital status doesn't match what CRA has on file. But you can still file your taxes. Other free and secure ways to file are:`)}
    ul
      li #{__('By mail, using the form sent with the CRA Claim Tax Benefits letter. You can update your marital status on the form.')}
      li #{__('At a tax clinic, where you may be able to get help. Visit the CRA website to')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/tax/individuals/community-volunteer-income-tax-program/need-a-hand-complete-your-tax-return.html#eligible')}>#{__('check if you are eligible for help at a free tax clinic. You can change your marital status at a tax clinic.')}</a>

    div
      p #{__('You can also use other NETFILE software certified by the CRA to file your taxes. But first you should change your marital status with CRA. You can change your marital status by')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/child-family-benefits/update-your-marital-status-canada-revenue-agency.html')}>#{__('visiting the CRA website.')}</a> 
      p #{__('You can use NETFILE software when you are sure CRA has updated your marital status. You can check with CRA:')}
      
      ul
        li #{__('Online, using My Account. If you don’t have My Account, you can sign up at')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/e-services/e-services-individuals/account-individuals.html?utm_campaign=not-applicable&utm_medium=vanity-url&utm_source=canada-ca_my-cra-account')}>#{__('canada.ca/my-cra-account')}</a>
        li #{__('Phone: 1-800-959-8281')}
        li #{__('TTY (text telephone): 1-800-665-0354')}