extends ../base
include ../_includes/banner

block variables
  -var title = __('Change your name with CRA')

block content

  h1 #{title}

  

  .offramp
    p #{__('If your name has changed . . . you can still file under your previous name. To change the name on your CRA file, visit')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/tax/individuals/frequently-asked-questions-individuals/should-you-tell-cra-about-your-change-name.html')}>#{__('the CRA website.')}</a>

    div
      p #{__('For more information, contact CRA by:')}
      include ../_includes/phone-bullets