extends ../baseOfframp

block variables
  -var title = __('Change your name with CRA')

block content

  h1 #{title}

  

  .offramp
    p #{__('You can still use this online service with the name CRA has on your file.')}

    p #{__('You can also')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/tax/individuals/frequently-asked-questions-individuals/should-you-tell-cra-about-your-change-name.html')}>#{__('ask CRA to change the name on your file.')}</a>

    div
      p #{__('For more information, contact CRA by:')}
      include ../_includes/phone-bullets

      a(href='/personal/residence' role='button' draggable='false') #{__('Continue')}