extends ../base
include ../_includes/banner

block variables
  -var title = __('The income we have on file does not match your records')

block content

  h1 #{title}
  
  .offramp
    p #{__('If your records don’t match the income information displayed earlier, or you believe it to be incorrect, you shouldn’t use this service to file your taxes.')}

    div
      p #{__('There are also other free and secure ways to file your taxes:')}
      ul
        li <a href=#{__('https://www.canada.ca/en/revenue-agency/services/tax/individuals/community-volunteer-income-tax-program.html')}>#{__('Visit a free tax clinic near you. ')}</a> #{__('You can have a volunteer help you submit your taxes.')}
        li #{__('Contact CRA at')} #[a(href="tel:123-456-7890") (123) 456-7890] #{__('for help')}
        li #{__('File your taxes with')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/e-services/e-services-individuals/netfile-overview/certified-software-netfile-program.html')}>#{__('other NETFILE software certified by CRA')}</a>
    
    a.button-link(href='/financial/income') #{__('Go back')}
