extends ../base
include ../_includes/banner

block variables
  -var title = __('Your taxes can’t be completed using this service')

block content

  h1 #{title}

  +banner('blue')
    p #{__('Your tax return is too complex to be filed using this service. Nothing about your taxes is incorrect — see below for further instructions on how to complete your tax return.')}

  div
    p #{__('To finish filing your taxes for 2018, you will need to do one of the following:')}
    ul
      li #{__('Use the paper form enclosed in the Claim Tax Benefits package you received in the mail')}
      li <a href=#{__('https://www.canada.ca/en/revenue-agency/services/tax/individuals/community-volunteer-income-tax-program.html')}>#{__('Visit a free tax clinic near you. ')}</a> #{__('You can have a volunteer help you submit your taxes.')}
      li #{__('Contact CRA at')} #[a(href="tel:123-456-7890") (123) 456-7890] #{__('for help')}
      li #{__('File your taxes with')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/e-services/e-services-individuals/netfile-overview/certified-software-netfile-program.html')}>#{__('other NETFILE software certified by CRA')}</a>

