extends ../base
include ../_includes/banner

block variables
  -var title = __('File your taxes another way')

block content

  h1 #{title}

  .offramp
    div
      p #{__('You can file your taxes even if you can’t answer any security questions. Other free and secure ways to file are:')}
      ul
        li #{__('By mail, using the form sent with the CRA')} <i>#{__('service.name')}</i>#{__(' letter')}
        li #{__('At a tax clinic, where you can get help to file. Visit')} <a href=#{__('https://www.canada.ca/en/revenue-agency/campaigns/free-tax-help.html?utm_campaign=not-applicable&utm_medium=vanity-url&utm_source=canada-ca_taxes-help')}>#{__('canada.ca/taxes-help')}</a>  #{__('to find your nearest clinic.')}
        li #{__('Using')} <a href=#{__('https://www.canada.ca/en/revenue-agency/services/e-services/e-services-individuals/netfile-overview/certified-software-netfile-program.html')}>#{__('other NETFILE software certified by CRA')}</a>

      p #{__('For more information, contact CRA by:')}
      ul
        li #{__('Phone: 1-800-959-8281')}
        li #{__('TTY (Teletypewriter): 1-800-665-0354')}
      p #{__('You may get government benefits, credits, and money back if you file.')}

